services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: cdp
      POSTGRES_PASSWORD: cdp
      POSTGRES_DB: cdp
    ports:
      - "5433:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
